.form{
    color: #3a4245;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 270px;
}

.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.imagen{
    background-image: url('../imagenes/imagenfondoDogCreated.jpg');
    height: 140vh;
    background-size: cover;
    background-color: #b18d2f;
    
}

.button {
    padding: 0.8em 1.8em;
    border: 1px solid #3a4245;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #3a4245;
    margin-left: 550px;
    margin-top: 60px;
}
   
.button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #3a4245;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
.button:hover::before {
    width: 105%;
}
   
.button:hover {
    color: #111;
}

.titulo{
    color: #3a4245;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-left: 20px;
    padding-top: 20px;
}
